.App {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  
}

.App-header {
  background-color: rgba(255, 255, 255, 0.7); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* .weather-info {
  margin-top: 20px;
  font-size: 10px;
} */

.weather-info p {
  margin: 5px 0;
  font-size: 20px;
}

.style{
  font-size: 1.5rem;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
}

.weather-app-title {
  /* background-image: url('../src/assets/firstimg.jpg'); */
  background-size: contain;
  /* background-repeat: no-repeat; */
  /* padding-left: 50px;  */
  /* line-height: 200px;  */
  color: black;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.weather-icon {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  vertical-align: middle; /* Align icon vertically with text */
  margin-left: 10px; /* Add some spacing between icon and text */
}
